* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.container {
  width: 100%;
  max-width: 550px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  text-align: center;
}

video {
  width: 100%;
  border-radius: 15px;
  border: 3px solid #333;
}

canvas {
  display: none;
}

button {
  border: none;
  border-radius: 10px;
  padding: 14px;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.2s;
}

button:hover {
  opacity: 0.9;
}

#btnCapturar {
  background: #00b894;
  color: white;
}

.numerosContainer {
  background: #1d1d1d;
  padding: 15px;
  border-radius: 15px;
}

#listaNumeros {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 15px;
}

.numeroItem {
  background: #2d2d2d;
  padding: 10px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.numeroItem input {
  width: 100%;

  padding: 10px;

  font-size: 20px;

  border: none;
  border-radius: 8px;

  background: #111;
  color: white;
}

.acciones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.operacion {
  background: #0984e3;
  color: white;
}

.resultado {
  background: #1d1d1d;

  padding: 20px;
  border-radius: 15px;

  text-align: center;

  font-size: 30px;
  font-weight: bold;
}
